{erl_opts, [debug_info]}.
{deps, [
	{cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.7.0"}}},
	{jiffy, {git, "git://github.com/davisp/jiffy.git", {tag, "1.0.1"}}}
       ]
}.

{relx, [
	{release, {"websocket_service", "0.0.1"}, [websocket_service]},
	{dev_mode, true},
	{extended_start_script, true}
       ]
}.
{shell, [
  % {config, "config/sys.config"},
    {apps, [websocket_service]}
]}.
